.custom-password-input {
  background-color: transparent !important;
}

.custom-password-input input {
  background-color: transparent !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: inherit !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  background-color: transparent !important;
}

.change-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
  .change-password-content {
    width: 400px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;

    .user-avatar {
      font-size: 48px;
      color: #1890ff;
      margin-bottom: 20px;
    }

    h1 {
      font-size: 24px;
      color: #1890ff;
      margin-bottom: 20px;
    }

    .full-name-field {
      input {
        color: #000;
        font-weight: bold;
        text-align: center;
      }
    }

    .ant-form-item {
      margin-bottom: 15px;
    }

    .change-password-form {
      .ant-input-password,
      .ant-input {
        height: 40px;
        font-size: 16px;
      }

      .ant-input-prefix {
        color: #1890ff;
      }
    }

    .form-footer {
      display: flex;
      justify-content: space-between;

      .submit-button {
        width: 100%;
        background-color: #1890ff;
        border-color: #1890ff;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        border-radius: 5px;
        height: 40px;

        &:hover {
          background-color: #40a9ff;
          border-color: #40a9ff;
        }
      }
    }
  }
}
