.koi-by-variety-container {
  margin-top: 20px;
  display: flex;
  justify-content: center; // Center the card in the container
}

.koi-detail-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%; // Ensures the card takes full width available
  max-width: 400px; // Limit card width to a reasonable size

  .ant-card-cover {
    flex: 0 0 auto;
  }

  .ant-card-body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }

  .ant-typography {
    &.ant-typography-h4 {
      margin-bottom: 8px;
    }
  }

  .ant-typography-paragraph {
    flex: 1 1 auto;
    margin-bottom: 0;
  }
}

.koi-detail-image {
  object-fit: cover;
  border: 1px solid #c54125;
  border-radius: 8px; // Optional: add a slight rounding to the image corners
}

@media (max-width: 576px) {
  .koi-by-variety-container {
    flex-direction: column; // Stack content vertically on smaller screens
  }

  .ant-card {
    margin-bottom: 16px;
  }
}
