.centered-row {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-card {
    width: 100%;
    max-width: 400px;
    margin: auto;
    margin-top: 30px;
}

.centered-button {
    display: block;
    margin: 0 auto;
    font-size: 18px;
}