.user-profile {
      .ant-dropdown-menu {
            border-radius: 8px;
            padding: 8px;
      }
      &__button {
            padding: 12px;
            gap: 12px;
            align-items: center;
            border-radius: 8px;
            border: 1px solid rgba(0, 0, 0, 0.15);
            cursor: pointer;
            width: fit-content;
            background: rgba(0, 35, 70, 0.9);
            color: #fff;

            &:hover {
                  background: darken(#0f1e54, 5%);
            }

            .ant-avatar {
                  background: #1890ff;
                  color: #0f1e54;
            }

            .ant-typography {
                  color: #fff;

                  &.username {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 120%;
                        display: block;
                  }

                  &.email {
                        font-size: 10px;
                        line-height: 120%;
                        color: rgba(255, 255, 255, 0.65);
                  }
            }
      }
}
