.tour-list {
  padding: 24px;
  &__card {
    height: 250px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }

  .ant-card {
    border: 1px solid black;
    border-radius: 8px;
    overflow: hidden;
    height: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);

    .ant-card-meta {
      margin-bottom: 12px;

      .ant-card-meta-title {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 8px;
        color: #1a1a1a;
      }

      .ant-card-meta-description {
        color: #666;
        font-size: 14px;
      }
    }
  }
  &__card-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  &__card-price {
    font-size: 20px;
    font-weight: 700;
    color: #f5222d;
    text-align: right;
  }

  &__card-participants {
    color: #666;
    font-size: 16px;
  }

  &__card-details-button {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #1890ff;
    background: transparent;
    color: #1890ff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background: #1890ff;
      color: white;
    }
  }

  &__card-book-button {
    display: block;

    .ant-btn {
      width: 100%;
      height: 36px;
      background: #1890ff;
      color: white;
      border: none;
      border-radius: 4px;
      font-weight: 500;
      transition: all 0.3s ease;

      &:hover {
        background: #096dd9;
        transform: translateY(-2px);
        border: 1px solid #1890ff;
      }
    }
  }
}
.tour-info-card {
  margin-top: 20px;
  transition: box-shadow 0.3s ease;
  .ant-card-body {
    padding: 32px;
  }

  .ant-typography {
    color: #333333;
  }

  .ant-divider {
    background-color: #d9d9d9;
  }

  .ant-descriptions {
    .ant-descriptions-item-label {
      color: #737373;
      font-weight: 600;
      font-size: 15px;

      .anticon {
        margin-right: 8px;
        color: #1e90ff;
      }
    }

    .ant-descriptions-item-content {
      color: #333333;
      font-weight: 500;
    }
  }

  .farm-section {
    margin-top: 32px;

    h4 {
      margin-top: 0;
      font-size: 18px;
      font-weight: bold;
    }

    .ant-typography {
      margin-bottom: 24px;

      .anticon {
        color: #1e90ff;
        margin-right: 8px;
      }
    }

    .ant-list {
      .farm-list-item {
        margin-bottom: 16px;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 12px;
        transition: all 0.3s ease;

        &:hover {
          box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
        }

        .farm-container {
          display: flex;
          align-items: center;

          .farm-image {
            width: 260px;
            height: 160px;
            object-fit: cover;
            border-radius: 12px;
            margin-right: 20px;
          }

          .farm-info {
            flex: 1;

            .farm-name {
              margin-bottom: 12px;
              color: #262626;
              font-size: 16px;
              font-weight: 600;
            }

            .farm-location {
              color: #737373;

              .location-icon {
                color: #1e90ff;
                margin-right: 4px;
              }
            }
          }
        }
      }
    }
  }

  .tour-rating {
    display: flex;
    align-items: center;

    .anticon-star {
      color: #ffb400;
      margin-right: 8px;
    }

    .ant-typography {
      margin-right: 8px;
      font-weight: 500;
    }

    .ant-rate {
      margin-right: 8px;
    }
  }
}

.form-container {
  border: 1px solid #1890ff;
  border-radius: 8px;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;

  h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }

  .ant-form-item {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 4px;
  }
  .ant-form-item-label {
    font-weight: bold;
  }
}
